.page-title,.innercover{
    text-align: center;
    margin-top: -650px;
    font-size: 100px;
    color: rgb(255, 0, 128);
}

#game-start,#game-done{
    background-color:rgb(255, 0, 128);
    border: rgb(255, 0, 128);
    margin-top: 50px;
}

#counter,#timer{
    color: black;
    text-align: center;
}

.container2{
    background: url("../images/makeup.jpg");
    margin-top: -32px;
    background-color: white;
}

#results{
    background-color: white;
    margin-top: -51px;
}

#image{
    margin-bottom: -33px;
    margin-top: -19px;
    margin-left: -16px;
    margin-right: -16px;
}

